.profile {
    width: 520px;
    padding-top: 56px;
    align-items: center;
    background-color: white;
    text-align: center;
    border-radius: 2%;
    margin: 0 auto;
    margin-bottom: 40px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.description {
    font-size: 28px;
    margin: 0px;
    margin-bottom: 24px;
}

.avatar{
    margin-bottom: 48px;
    border-radius: 50%;
    width: 240px;
}

.name{
    font-size: 48px;
    font-weight: bold;
    margin: 0px;
}

.tag{

}

.location{
    font-size: 32px;
}

.stats{
    display: grid;
    margin: 0px;
    list-style: none;
    font-size: 28px;
    grid-template-columns: 1fr 1fr 1fr ;
    background-color: rgb(179, 175, 172);
    padding: 28px;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

.label{
    display: block;
}

.quantity{
    font-weight: bold;
}